.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 72px;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #191919;
  z-index: -1;
  border-top: 3px solid #CB0000;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.9);
}

/* Nav Item */
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  font-family: var(--font-body);
  font-size: 0.9rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  height: 100%;
}

/* Special HOME tab */
.item.home {
  border-bottom-left-radius: 50px;
  z-index: 2;
}

/* Icon styles */
.icon {
  width: 28px;
  height: 28px;
  margin-bottom: 4px;
  transition: transform 0.3s ease;
  filter: brightness(0) invert(1);
}

/* Labels */
.label {
  color: #ffffff;
}

/* Active tab underline */
/* .item.active::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
} */

/* Hover effect */
.item:hover .icon {
  transform: scale(1.1);
}

/* Vertical dividers */
.item:not(:first-child)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 28px;
  background-color: #444;
  opacity: 0.5;
}

/* Right-side rounded edge */
.item:last-child {
  border-bottom-right-radius: 50px;
}

/* BLUR EFFECT FOR ACTIVE OPTION */
/* General shadow for active items */
.item.active {

  background-color: #CB0000;
  z-index: 2;
}

/* Middle items — both sides */
.item.active:not(:first-child):not(:last-child) {
  box-shadow: -6px 0 8px rgba(0, 0, 0, 0.5), 6px 0 8px rgba(0, 0, 0, 0.5);
}

/* First item — only right shadow */
.item.active:first-child {
  box-shadow: 6px 0 8px rgba(0, 0, 0, 0.5);
}
.item.active:last-child {
  box-shadow: -6px 0 8px rgba(0, 0, 0, 0.5);
}