.not-found-container{
    font-family: 'GoodTimes';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: 
    radial-gradient(
      circle at 50% 0%,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 60%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 60%
    ),
    linear-gradient(180deg, #000 0%, #323232 50%, #000 100%);
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 1rem 1rem 0;
    flex-direction:row;
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
}
.error-code{
    font-family: 'GoodTimes';
    font-size: 6rem;
}
.luxury-button{
    font-family: 'avenir';   
    background-color: #CB0000;
    color: #fff;
    padding: 1rem 2rem; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 18rem;
    position: relative;
    top: 4em;
}